*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 800px;
  margin: auto;
  background-color: beige;
  }
  body{
      margin-top: 30px
  }
  .title{
      padding: 5px;
      border: 1px solid black;
      background-color: rgb(53, 11, 132);
  }

  .title{
    color: #fff;
  }